.form-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 390px;
    height: auto;
    background-color: #FFF;
    padding: 20px;
    border-radius: 32px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form h3 {
    color: #2F7979;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
  }
  
  .form button {
    width: 244px;
    height: 64px;
    margin-top: 10px;
    background-color: #4e65f7;
    padding: 0.75rem 1rem;
    border-radius: 32px;
  }
  
  .inputs {
    border-radius: 32px;
    background: #FFF;


  }
  
  .inputs input {
    width: 100%; 
    margin-bottom: 15px;
    width: 75%;
    margin: 1.5rem auto;
    margin: 3rem auto 1rem auto;
    padding: 1.0rem;
    border-radius: 25px;
    font-size: 1rem;
    font-family: inherit;
    outline: 0;
    border: 0;

  }
  